<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="gc" class="com.ram.spring.model.GoldenCustomer">
		<property name="name" value="Rahul"></property>
		<property name="type" value="GoldenCustomer"></property>
		<property name="address" ref="hyd"></property>
	</bean>
	<bean id="pc" class="com.ram.spring.model.PlatinumCustomer">
		<property name="name" value="Navya"></property>
		<property name="type" value="PlatinumCustomer"></property>
		<property name="address" ref="blr"></property>
	</bean>
	<bean id="hyd" class="com.ram.spring.address.Address">
		<property name="city" value="Hyderabad"></property>
		<property name="state" value="Telangana"></property>
	</bean>
	<bean id="blr" class="com.ram.spring.address.Address">
		<property name="city" value="bangalore"></property>
		<property name="state" value="Karnataka"></property>
	</bean>

</beans>